:root {
  --clr-primary-light: #f6ebda;
  --clr-primary: #f9d9aa;
  --clr-accent: #ff902a;
  --clr-dark: #2f2105;
  --clr-light: #7e7d7a;
  --clr-white: #fff;
  --clr-transparent: transparent;
}

/******************************************
/* GENERAL STYLINGS
/*******************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--clr-neutral);
  color: var(--clr-dark);
}
h1 {
  text-align: center;
}
h2 {
  font-size: 3rem;
}
h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0.25em 0;
}

/******************************************
/* COMPONENTS
/*******************************************/
.nav {
  padding: 15px 0 0 0;
  background: var(--clr-transparent);
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  transition: background 250ms ease-in;
}

@media (min-width: 750px) {
  .nav {
    text-align: left;
  }
}

.icon-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-cart {
  position: relative;
}

.icon-badge {
  content: " ";
  background-color: var(--clr-accent);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 0;
}

.delete-item {
  background-color: red;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--clr-white);
  font-weight: bold;
}

.cta-btn {
  background-color: #2f2105;
  color: var(--clr-white);
  padding: 0.8125em 2em;
  text-decoration: none;
  border-radius: 32px;
  box-shadow: 0px 4px 32px rgba(223, 195, 124, 0.25);
}

.cta-btn:hover {
  color: #2f2105;
  background-color: var(--clr-accent);
  transition: color 250ms ease-in, background-color 250ms ease-in;
}

.submenu {
  position: relative;
}

.submenu #cart {
  display: none;
}

.submenu:hover #cart {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: var(--clr-white);
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

.card-container {
  filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
}

.card {
  text-align: center;
  background: var(--clr-white);
  border-radius: 12px;
  padding: 1.063em 1em;
}

.card-img {
  border-radius: 12px;
}

@media (min-width: 550px) {
  .card {
    text-align: left;
  }
}

.add-btn {
  position: relative;
  content: " ";
  background: var(--clr-accent) url(../img/icon-cart-white.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px;
  min-width: 43px;
  min-height: 43px;
}

.info-card p {
  margin: 0;
  color: var(--clr-light);
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.313em;
  letter-spacing: 0.04em;
  max-width: 22ch;
}

.info-card {
  padding: 0;
}

.info-card .price {
  font-size: 1.125em;
  align-self: center;
}
.info-card .price span {
  font-weight: 700;
  font-size: 22px;
}

/******************************************
/* SITE STYLES
/*******************************************/
.total {
  text-align: right;
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

#hero {
  height: 85vh;
  background-size: cover;
  padding-top: 120px;
  background: var(--clr-primary-light) url(../img/bg-img-hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1020px) {
  #hero {
    padding-top: 40px;
  }
}

.content-hero {
  margin-top: 80px;
}
.content-hero form {
  position: relative;
  margin-bottom: 0;
}
.content-hero form #buscador {
  height: 50px;
  margin-bottom: 0;
}

.hero-img img {
  max-width: 100%;
}

@media (max-width: 1020px) {
  .hero-img img {
    margin-top: 80px;
  }
}

@media (max-width: 550px) {
  #hero {
    height: 100vh;
  }
}

.bar {
  position: relative;
  height: 25vh;
}

.bar-content {
  background-image: url(../img/bar-bg.svg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
}

@media (max-width: 550px) {
  .bar,
  .bar-content {
    position: static;
    background: none;
  }

  .bar {
    height: auto;
    margin: 3rem 0;
  }

  .bar .row {
    height: max-content;
  }
}

.how-to h5 {
  margin-bottom: 0.25rem;
}

.how-to img {
  width: 9.938rem;
}

@media (max-width: 550px) {
  .how-to .row {
    height: max-content;
  }
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 60px;
  background-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 750px) {
  .icon {
    margin-bottom: 0;
  }
}

#menu {
  margin: 6rem 0;
}

#menu h1 {
  text-align: left;
}

.items-list .row {
  margin-bottom: 7%;
}

.footer {
  margin-top: 40px;
  border-top: 1px solid #aaa;
  padding-top: 40px;
}
.footer .menu a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

/******************************************
/* UTILITIES
/*******************************************/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-scrolled {
  background: var(--clr-primary-light);
}

.center {
  text-align: center;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: #2f2105;
}

.link:hover {
  color: var(--clr-accent);
  transition: color 250ms ease-in;
}

.color-orange {
  color: var(--clr-accent);
}

.hidden {
  display: none;
}

.underline {
  margin-bottom: 0.25em;
  border-bottom: 0.1em solid var(--clr-accent);
}

.paddin-lr {
  padding: 0 4rem;
}

ul {
  list-style: none;
  margin: 0;
}
